<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style>
        .log{
    color: white;
    height: 350px;
    width: 250px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
a{
    color: white;
}
body{
    background-image: url("https://img.freepik.com/free-vector/hand-drawn-colorful-travel-background_23-2149033528.jpg?w=2000&t=st=1694587554~exp=1694588154~hmac=c8972a4fb9200b98f1cbbc8b9c19a6b6d61fabc2b526a74d20abef8b8d83e434");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    border-radius: 20px;
}
button{
    border-radius: 20px;
}
    </style>
</head>
<body>
    <form  method="post" action="/signstore">
     <div class="log"> 
        <h1>Sign Up...</h1>
        <input type="text" placeholder="USER NAME" name="username">
        <br>
         <input type="email" name="email" id="" placeholder="Enter a valid Email">
          <br>
         <input type="password" placeholder="password" name="password">
        <br>
        
       <!-- <input type="checkbox" name="" id="" name="checkbox">Stay Signed in
        </label><br>-->
        <button type="submit">Submit</button > <br>
        <a href="/Dlogin">Already Have Account..</a>
       <!-- <a href="https://www.google.com/search?q=forgot+password&oq=forget+passworf&aqs=chrome.1.69i57j0i10i433i512l2j0i10i512l6j0i10i433i512.9911j1j7&sourceid=chrome&ie=UTF-8">forgot password...?</a>-->
     </div>
    </form>
</body>
</html>